{% extends 'base.html' %}

{% block content %}

<Body background="https://source.unsplash.com/1600x1000/?white">  
    <h1 style="text-align:center; font-family:serif; font-style:italic; color:#253027; position:relative;top:100px;">Please login to proceed further..!!</h1>
    <div class="container" style="position:relative;top:30px; text-align:center;">
        <h3 style="font-family:serif; font-style:italic; color:#253027; position:relative;top:140px;">If you're visting:</h3>
        <h3 style="font-family:serif; font-style:italic; color:253027; position:relative;top:130px;">First time;</h3>
        <h3 style="font-family:serif; font-style:italic; color:#253027; position:relative;top:115px;">Then</h3>
        <h3 style="font-family:serif; font-style:italic; color:253027; position:relative;top:100px;">Please sign up.</h3>      
    </div>

{% endblock %}